

#left{
border: solid 1px black;
height: 400px;
background-image: url(halie-west-25xggax4bSA-unsplash.jpg) ;

}

#right{
float:left;
border: solid 1px black;
height: 400px;

}

#submit{
    background-color:#596D48;
}

a{
    color:#596D48;
}